/* Style the buttons */
.btn {
  padding-top: 6px;
  cursor: pointer;
  color: darkgreen;
}

#myDIV{
  display: grid;
  justify-items: center;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  margin-top: 5px;
  padding: 7px;
  background-color: white;
  border: 2px darkgreen solid;
  border-radius: 20px;
}

html{
  scroll-behavior: smooth;
}
  
main{
  background-color: whitesmoke;
}
  
body{
  background-color: whitesmoke;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.15;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.2);
  color: whitesmoke;
}

nav a{
  color: darkgreen;
  font-weight: bold;
  text-decoration: none; 
  font-family: Verdana, Tahoma, sans-serif;
}

nav{
  background-color: whitesmoke; 
  text-align: left;
  height: 125px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 5px;
  line-height: 30px;
}

.skip a{
  position: absolute;
  top: -20px;
  right: 5px;
}

.skip a:focus{
  top: 20px;
}

.intro{
  padding: 50px;
  font-size: 30px;
  color: darkgreen;
  text-align: center;
}
  
footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
}
  
.gridimages{
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 3fr;
  row-gap: 15px;
  padding: 10px;
}
  
.gridimages a{
  font-size: 35px;
  color: darkgoldenrod;
}
  
.gridimages a:visited{
  font-size: 35px;
  color: darkgreen;
}
  
.gridimages p{
  color: rgb(47, 47, 47);
  font-size: 18px;
  padding: 4px;
  margin-top: 6px;
}
  
.container > div:first-child{
  background-image:url(../images/annarborpic5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.breakfast, .dinner{
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px;
}

.breakfast{
  grid-row-start: 1;
} 
 
.lunch{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  padding: 20px;
}
  
.dinner{
  grid-row-start: 3;
}

.breakfast-image, .lunch-image, .dinner-image{
  max-height: 600px;
  overflow: hidden;
  border-radius: 30px;
}

.breakfast-image, .dinner-image{
  grid-column-start: 2;
  grid-column-end: 3;
}
  
.breakfast-image{
  grid-row-start: 1;
}
  
.lunch-image{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}
  
.dinner-image{
  grid-row-start: 3;
}

.text-block{
  text-align: center;
  margin: auto;
  padding: 4px;
}
  
.gridimages{
  padding-bottom:0fr;
}
  
@media screen and (min-width: 900px){
  #myDIV{
    display: inline-block;
  }

  nav{
    text-align: center;
    height: 50px;
  }
  nav li{
    display:inline-block;
    padding-right:20px;
    font-size: 20px;
  }

    .gridimages{
      display: grid;
      column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      row-gap: 15px;
    }

    .breakfast, .lunch, .dinner{
      grid-row-start: 2;
      grid-row-end: 3;
    }
    
    .breakfast{
      grid-column-start: 1;
      grid-column-end: 2;
    } 
    
    .lunch{
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .dinner{
      grid-column-start: 3;
      grid-column-end: 4;
    }

    .breakfast-image, .lunch-image, .dinner-image{
      grid-row-start: 1;
      grid-row-end: 5;
      overflow: hidden;
      border-radius: 30px;
    }
    
    .breakfast-image{
      grid-column-start: 1;
      grid-column-end: 2;
    }
    
    .lunch-image{
      grid-column-start: 2;
      grid-column-end: 3;
    }
    
    .dinner-image{
      grid-column-start: 3;
      grid-column-end: 4;
    }
    
    .text-block{
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      background-color: rgba(245, 245, 245, .95);
      border: 5px darkgoldenrod solid;
      border-radius: 30px;
    }

    .gridimages{
      padding-bottom:0fr;
    }
  
  }
  
  @media screen and (min-width: 1200px) {
    #myDIV{
      display: inline-block;
    }

    nav{
      text-align: left;
      height: 50px;
    }
  
    nav li{
      display:inline-block;
      padding-right:20px;
      font-size: 25px;
      padding-top: 5px;
    }
    
    .gridimages{
      display: grid;
      margin: 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 50px;
    }

    .breakfast{
      grid-row-start: 1;
      grid-row-end:2;
    } 

    
    .breakfast, .dinner{
      grid-column-start: 1;
      grid-column-end: 3;
    } 
    
    
    .lunch{
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end:3;
    }
  
    .dinner{
      grid-row-start: 3;
      grid-row-end:4;
    }

    .breakfast-image, .lunch-image, .dinner-image{
      grid-column-start: 2;
      grid-column-end: 4;
      max-height: 500px;
      width: 1200px;
      overflow: hidden;
    }
    
    .breakfast-image{
      grid-row-start: 1;
      grid-row-end:2;
    }
    
    .lunch-image{
      grid-row-start: 2;
      grid-row-end:3;
    }
    
    .dinner-image{
      grid-row-start: 3;
      grid-row-end:4;
    }

  }
  