html{
    scroll-behavior: smooth;
}
    
main{
    background-color: whitesmoke;
}
    
body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}
    
h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.2);
    color: whitesmoke;
}
    
nav li{
    display:inline-block;
    padding-right:20px;
    font-size: 20px;
}
    
nav a{
    color: darkgreen;
    font-weight: bold;
    text-decoration: none; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
nav{
    background-color: whitesmoke; 
    text-align: left;
    height: 30px;
}
  
.skip a{
    position: absolute;
    top: -20px;
    right: 5px;
}
  
.skip a:focus{
    top: 20px;
}
    
footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
}
  
nav a:hover {
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 10cm;
}