/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
  
/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    margin-top: 5px;
    padding-bottom: 7px;
    background-color: white;
    border: 2px darkgreen solid;
    color: whitesmoke;
    border-radius: 20px;
}

html{
    scroll-behavior: smooth;
} 
    
main{
    background-color: whitesmoke;
} 
    
body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}
    
h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.2);
    color: whitesmoke;
}
    
nav li{
    display:inline-block;
    padding-right:20px;
    font-size: 18px;
}
    
nav a{
    color: darkgreen;
    font-weight: bold;
    text-decoration: none; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
nav{
    background-color: whitesmoke; 
    text-align: left;
    height: 50px;
}
  
.skip a{
    position: absolute;
    top: -20px;
    right: 5px;
}
  
.skip a:focus{
    top: 20px;
}
    
footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
}
  
nav a:hover {
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
}

.overview{
    background-image:url(../images/annarborpic5.jpg);
    background-attachment: fixed;      
    background-position: center;  
    background-repeat: repeat;
}

.overview2{
    font-size: xx-large;
    text-align: center;
    color: darkgreen;
    padding-top: 0.5cm;
    padding-right: 0.5cm;
    padding-left: 0.5cm;
}

main h2{
    font-size: 35px;
    color: darkgreen;
    padding: 0.5cm;
    text-align: center;
}

.restaurant a{
    color: darkgreen;
}
.restaurant a:visited{
    color: darkgreen;
}

.place1 p, .place2 p, .place3 p, .place4 p, .place5 p, .place5 p, .place6 p, .place7 p, .place8 p, .place9 p, .place10 p{
    margin-left:10%;
    margin-right:10%;
    text-align: center;
}

.place1 img, .place2 img, .place3 img, .place4 img, .place5 img, .place5 img, .place6 img, .place7 img, .place8 img, .place9 img, .place10 img{
    margin-top: 5%;
    margin-left:25%;
    margin-right:25%;
    min-width: 50%;
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    nav{
        text-align: center;
        height: 50px;
    }
    nav li{
        display:inline-block;
        padding-right:20px;
        font-size: 25px;
    }

    .place1, .place2, .place3, .place4, .place5, .place5, .place6, .place7, .place8, .place9, .place10{
        display: flex;
        flex-direction: row-reverse;
        font-size: medium;
        text-align: left;
        padding-right: 0.5cm;
    }
    
    .place1 p, .place2 p, .place3 p, .place4 p, .place5 p, .place5 p, .place6 p, .place7 p, .place8 p, .place9 p, .place10 p{
        max-height: 275px;
        overflow: scroll;
        font-size: x-large;
        text-align: center;
        padding: 10px;
        margin-bottom: 5px;
        border: 3px darkgoldenrod solid;
        border-radius: 20px;
    }
    
    .place1 img, .place2 img, .place3 img, .place4 img, .place5 img, .place5 img, .place6 img, .place7 img, .place8 img, .place9 img, .place10 img{
        padding-left: 0.5cm;
        padding-right: 0.5cm;
        min-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    nav{
        text-align: left;
        height: 50px;
    }
    nav li{
        display:inline-block;
        padding-right:20px;
        font-size: 30px;
        padding-top: 5px;
    }
    .overview2{
        padding: 25px;
    }

    main{
        display: flex;
        flex-direction: row;
        overflow: scroll; 
    }

    .restaurant{
        border: 3px darkgoldenrod solid;
        min-width: 400px;
        padding: 15px;
        margin: 20px;
        margin-top: 50px;
        margin-bottom: 145px;
        border-radius: 5px;
        justify-content: center;
        align-content: center;
    }

    .restaurant p{
        margin-bottom: 10px;
    }
    .restaurant img{
        max-width: 500px;
        /* margin:auto; */
    }
}


