html{
  scroll-behavior: smooth;
}
  
main{
  background-color: whitesmoke;
}
  
body{
  background-color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.15;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.2);
  color: whitesmoke;
}

nav{
  background-color: whitesmoke; 
  text-align: left;
  height: 40px;
  margin-left: 15px;
  margin-top: 10px;
}
  
nav li{
  display:inline-block;
  padding-right:20px;
  font-size: 18px;
}
  
nav a{
  color: darkgreen;
  font-weight: bold;
  text-decoration: none; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.intro{
  padding: 20px;
  font-size: 30px;
  color: darkgoldenrod;
  text-align: center;
}

.skip a{
  position: absolute;
  top: -20px;
  right: 5px;
}
  
.skip a:focus{
  top: 20px;
}
  
footer{
  background-color: black;
  color: white;
  padding-top: 10px;
  text-align: center;
}
  
nav a:hover {
  text-decoration: underline;
}
  
.gridimages{
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 15px;
  padding: 10px;
}
  
.gridimages a{
  font-size: 35px;
  color: darkgoldenrod;
}
  
.gridimages a:visited{
  font-size: 35px;
  color: darkgreen;
}
  
.gridimages p{
  color: rgb(47, 47, 47);
  font-size: 22px;
  font-style: italic;
  padding: 4px;
  margin-top: 6px;
}
  
.container > div:first-child{
  grid-column-start: 1;
  grid-column-end: 4;
  background-image:url(../images/annarborpic5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
  
.breakfast{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
} 
  
.lunch{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}
  
.dinner{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}
  
.breakfast-image{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  max-height: 600px;
  overflow: hidden;
}
  
.lunch-image{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  max-height: 600px;
  overflow: hidden;
}
  
.dinner-image{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  max-height: 600px;
  overflow: hidden;
}
  
.text-block{
  text-align: center;
  margin: auto;
  padding: 4px;
}
  
.gridimages{
  padding-bottom:0fr;
}
  
@media screen and (min-width: 900px) and (max-width: 1500px){
  nav{
    text-align: left;
    height: 50px;
  }
  
  nav li{
    display:inline-block;
    padding-right:20px;
    font-size: 18px;
  }
  
  body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8px;
    color: grey;
    line-height: 1.15;
  }
  
  .breakfast{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  } 
  
  .lunch{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .dinner{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  
  .breakfast-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .lunch-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .dinner-image{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .text-block{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(245, 245, 245, .95);
    border: 5px darkgoldenrod solid;
    border-radius: 30px;
  }

  .gridimages{
    padding-bottom:0fr;
  }
  
  }
  
  @media screen and (min-width: 1200px) {
  nav{
    text-align: left;
    height: 50px;
  }

  nav li{
    display:inline-block;
    padding-right:20px;
    font-size: 18px;
    padding-top: 5px;
  }
  
  body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8px;
    color: grey;
    line-height: 1.15;
  }
  
  .gridimages{
    display: grid;
    margin: 50px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 50px;
  }
  
  .breakfast{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  } 
  
  .lunch{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
  }

  .dinner{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
  
  .breakfast-image{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    max-height: 500px;
    width: 1200px;
    overflow: hidden;
  }
  
  .lunch-image{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    max-height: 500px;
    width: 1200px;
    overflow: hidden;
  }
  
  .dinner-image{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    max-height: 500px;
    width: 1200px;
    overflow: hidden;
  }
  
  .text-block{
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: rgba(245, 245, 245, .95);
    border: 5px darkgoldenrod solid;
   border-radius: 20px;
  }

  .gridimages{
    padding-bottom:0fr;
  }
  }
  